<p-card>
  <ng-template pTemplate="header">
    <div class="flex justify-between items-center p-4">
      <h2 class="text-lg font-semibold text-surface-900 dark:text-surface-100">Moeda Base</h2>

      <p-iconField iconPosition="left">
        <p-inputIcon class="pi pi-search" />
        <input
          pInputText
          [(ngModel)]="searchTerm"
          (ngModelChange)="searchTerm.set($event)"
          placeholder="Pesquisar..."
          class="w-40"
        />
      </p-iconField>
    </div>
  </ng-template>

  <div class="h-[230px] overflow-y-auto pr-2">
    <div class="grid grid-cols-4 gap-2">
      @for (currency of currencies(); track currency.code) {

      <p-button
        (onClick)="selectCurrency(currency.code)"
        [outlined]="selectedCurrency() !== currency.code"
        styleClass="flex justify-center text-left w-full p-2"
      >
        <div class="flex items-center gap-1">
          <span [class]="'fi fi-' + currency.code.substring(0, 2).toLowerCase()"></span>
          <span class="font-semibold">{{ currency.code }}</span>
        </div>
      </p-button>
      }
    </div>
  </div>
</p-card>
